<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars Daily Update</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">

    <a name="top"></a>
</head>

<body>
<div class="container-fluid">
    <div class="jumbotron text-center">
        <h1 class="display-4">Mission to Mars</h1>
        <p class="lead">Here you can get the latest news, weather, and fun facts</p>
        <hr class="my-4">
        <p>Click the button to get today's article and featured image</p>
        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
        <p>{{mars_data.Date_entry}}</p>
        </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2>Latest Mars News</h2>
            <h4><u>{{mars_data.Article_Title}}</u></h4>
            <p>{{mars_data.Summary}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8">
            <div class="card">
            <h2 class="card-title">Featured Mars Image</h2>            
            <img class="card-img-top" src="{{mars_data.Featured_Image}}" alt="Featured Mars image of the Day">
                        <div class="card-body">
                                <a href="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars" class="btn btn-primary" target="_blank">View Details ></a>
                        </div>
        
        </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card text-center">
                <div class="card-text">
                    <h4 class="card-title">Current weather on Mars</h4>
                    <p>{{mars_data.Weather}}</p>
                </div>
            </div>
            <div class="card text-center">
                <div class="card-text">
                        <h4 class="card-title">Mars Facts</h4>
                        
                        <div class="card text-center">
                                {% autoescape off %}
                                {{mars_data.Mars_Facts}}
                                {% endautoescape %}
                        </div>
                       
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="card">
    <h4 class="text-center">Mars Hemispheres</h4>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">

                <div class="card">
                        <img class="card-img-top" src="{{mars_data.Hemisphere1}}" alt="{{mars_data.Title1}}">
                        <div class="card-body">
                                <h5><a href="{{mars_data.Hemisphere1}}" class="card-link" target="_blank">{{mars_data.Title1}}</a></h5>
                                <a href="https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced" class="btn btn-primary" target="_blank">View Details ></a>
                        </div>
                      </div>
        </div>               
        <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                        <img class="card-img-top" src="{{mars_data.Hemisphere2}}" alt="{{mars_data.Title2}}">
                        <div class="card-body">
                                <h5><a href="{{mars_data.Hemisphere2}}" class="card-link" target="_blank">{{mars_data.Title3}}</a></h5>
                                <a href="https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced" class="btn btn-primary" target="_blank">View Details ></a>
                        </div>
                      </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
                <div class="card">
                        <img class="card-img-top" src="{{mars_data.Hemisphere3}}" alt="{{mars_data.Title3}}">
                        <div class="card-body">
                                <h5><a href="{{mars_data.Hemisphere3}}" class="card-link" target="_blank">{{mars_data.Title3}}</a></h5>
                                <a href="https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced" class="btn btn-primary" target="_blank">View Details ></a>
                        </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
                <div class="card">
                        <img class="card-img-top" src="{{mars_data.Hemisphere4}}" alt="{{mars_data.Title4}}">
                        <div class="card-body">
                                <h5><a href="{{mars_data.Hemisphere4}}" class="card-link" target="_blank">{{mars_data.Title4}}</a></h5>
                                <a href="https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced" class="btn btn-primary" target="_blank">View Details ></a>
                        </div>
            </div>
        </div>
    </div>
    </div>
</div>

<footer>
        <div class="my_copyright center">Copyright © 2019 • Victor Yamaykin  • All Rights Reserved</div>
        <h5 class="center"><a href="#top">Back to Top</a></h5>
</footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>